{% set TOKEN = getToken() %}
<div data-{{ TOKEN }}-translation="{{ getTranslations()|json_encode }}"></div>
<div data-{{ TOKEN }}-api-host-url="{{ get_option(TOKEN~'_api_host_url') }}"></div>
<div data-{{ TOKEN }}-authorization="{{ get_option(TOKEN~'_authorization') }}"></div>
<div data-{{ TOKEN }}-default-filters="{{ getDefaultFilters()|json_encode }}"></div>
<div data-{{ TOKEN }}-admin-url="{{ get_admin_url() }}"></div>
<div data-{{ TOKEN }}-site-url="{{ get_site_url() }}"></div>
<div data-{{ TOKEN }}-language="{{ get_locale() }}"></div>
<div data-{{ TOKEN }}-currency="{{ get_woocommerce_currency() }}"></div>
<div data-{{ TOKEN }}-nonce="{{ 'wp_rest'|wp_create_nonce }}"></div>
