{% extends 'base.html.twig' %}
{% block body %}
  {% include 'sage/list-change-entity.html.twig' %}
  <div data-{{ TOKEN }}-user="{{ user|json_encode }}"></div>
  <div data-{{ TOKEN }}-fComptet="{{ fComptet|json_encode }}"></div>
  <div data-{{ TOKEN }}-user-meta-wordpress="{{ userMetaWordpress|json_encode }}"></div>
  <div data-{{ TOKEN }}-pcattarifs="{{ pCattarifs|json_encode }}"></div>
  <div data-{{ TOKEN }}-pcatcomptas="{{ pCatComptas|json_encode }}"></div>
  <div
    data-{{ TOKEN }}-sage-create-new-fComptets="{{ get_option(TOKEN~'_sage_create_new_fComptets') }}"></div>
  <div id="{{ TOKEN }}_user">
    <h2>Sage</h2>
    <div class="skeleton skeleton-box"></div>
  </div>
{% endblock %}
