{% for message in messages %}
  {{ message | raw }}
{% endfor %}
{% if hasChanges %}
  <div class="notice notice-info is-dismissible">
    {% for action in changeTypes %}
      {% if meta['changes'][action] is iterable and meta['changes'][action] is not empty %}
        <ul>
          {% for key, value in meta['changes'][action] %}
            <li>
              <code>{{ key }}</code>:
              {% if action == 'modified' %}
                {{ 'changé en ' | trans }}
              {% elseif action == 'added' %}
                {{ 'ajouté avec la valeur ' | trans }}
              {% elseif action == 'removed' %}
                {{ 'supprimé' | trans }} ({{ 'la valeur précédente était ' | trans }})
              {% endif %}
              <span class="json-inline">{{ value }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
{% if updateApi is not empty %}
  <div class="notice notice-warning is-dismissible">
    <p>{{ 'Les modifications apportées n’ont pas encore été synchronisées avec Sage. Elles seront appliquées automatiquement dès que possible.'|trans }}</p>
    <p>{{ 'Date des modifications'|trans }} : {{ updateApi }}</p>
  </div>
{% endif %}
