{% set TOKEN = getToken() %}
{% include 'sage/list-change-entity.html.twig' %}
<div data-{{ TOKEN }}-pcattarifs="{{ pCattarifs|json_encode }}"></div>
<div data-{{ TOKEN }}-pcatcomptas="{{ pCatComptas|json_encode }}"></div>
<div data-{{ TOKEN }}-fpays="{{ fPays|json_encode }}"></div>
<div data-{{ TOKEN }}-ffamilles="{{ fFamilles|json_encode }}"></div>
<div data-{{ TOKEN }}-punites="{{ pUnites|json_encode }}"></div>
<div data-{{ TOKEN }}-product="{{ meta['new']|json_encode }}"></div>
<div data-{{ TOKEN }}-fcatalogues="{{ fCatalogues|json_encode }}"></div>
<div data-{{ TOKEN }}-cbsyslibres="{{ cbSysLibres|json_encode }}"></div>
<div data-{{ TOKEN }}-fdepots="{{ fDepots|json_encode }}"></div>
<div data-{{ TOKEN }}-ppreference="{{ pPreference|json_encode }}"></div>
<div data-{{ TOKEN }}-farticle="{{ fArticle|json_encode }}"></div>
<div id="{{ panelId }}" class="panel hidden">
  <div class="skeleton skeleton-box"></div>
</div>

