{% extends 'base.html.twig' %}
{% block body %}
  {#  todo delete ? #}
  {% set flattenAllTranslations = flattenAllTranslations(allTranslations['fDocentetes']) %}
  {% set currencySymbol = get_woocommerce_currency_symbol() %}

  {{ message | raw }}
  {% set orderId = order.get_id() %}
  {% set orderStatus = order.get_status() %}
  {% set wpnonce = 'wp_rest'|wp_create_nonce %}
  {% set fDoclignes = getFDoclignes(extendedFDocentetes) %}
  {% set mainFDocentete = getMainFDocenteteOfExtendedFDocentetes(order, extendedFDocentetes) %}
  <div data-order-data data-order-id="{{ orderId }}" data-nonce="{{ wpnonce }}"></div>
  {% if hasFDocentete == false %}
    <div class="text-center">
      <label for="{{ TOKEN }}-fdocentete-dopiece">
        {{ 'Veuillez renseigner le N°pièce du document de vente Sage'|trans }}
      </label>
      <div style="position: relative">
        <input name="{{ TOKEN }}-fdocentete-dopiece" style="padding-right: 20px" id="{{ TOKEN }}-fdocentete-dopiece"
               type="text"
               size="20" value="" disabled>
        <input name="{{ TOKEN }}-fdocentete-dotype" id="{{ TOKEN }}-fdocentete-dotype" type="hidden">
        <input name="{{ TOKEN }}-fdocentete-wpnonce" id="{{ TOKEN }}-fdocentete-wpnonce" type="hidden"
               value="{{ 'wp_rest'|wp_create_nonce }}">
        <svg class="svg-spinner hidden" viewBox="0 0 50 50">
          <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
        <span class="dashicons dashicons-yes endDashiconsInput hidden" style="color: green"></span>
        <span class="dashicons dashicons-no endDashiconsInput hidden" style="color: red"></span>
        {% if orderStatus != 'auto-draft' %}
          <button type="button" id="order-fdocentete" data-order-fdocentete disabled
                  class="button button-primary">{{ 'Valider'|trans }}</button>
        {% endif %}
      </div>
      <div id="{{ TOKEN }}-fdocentete-dopiece-result"></div>
    </div>
    {% if get_option(TOKEN~'_sage_create_new_fDocentetes') %}
      <div class="text-divider mt-2 mb-2">{{ 'OU'|trans }}</div>
      <div class="text-center">
        {{ 'Laissez vide et Egas créera un nouveau document'|trans }}
      </div>
    {% endif %}
  {% else %}
    {% if mainFDocentete|gettype == 'string' %}
      <div class="notice notice-error">
        <p>
          {{ mainFDocentete }}
        </p>
      </div>
    {% elseif mainFDocentete is null or mainFDocentete == false %}
      <div class="notice notice-error">
        <p>
          {{ 'Une erreur s\'est produite lors de la récupération du document de vente' |trans }}
        </p>
      </div>
      {% include 'woocommerce/elements/desynchronizeOrder.html.twig' %}
    {% else %}
      <h2>
        {{ 'Synchronisé avec'|trans ~ ': ' }}
        <strong>{{ flattenAllTranslations['doType']['values'][doTypeIdentifier] ~' n° '~ doPieceIdentifier }}</strong>
      </h2>
      {% if fDoclignes is empty %}
        <p>
          {{ 'Le document de vente ['~flattenAllTranslations['doType']['values'][doTypeIdentifier]~' n° '~doPieceIdentifier~'] est vide.' |trans }}
        </p>
      {% else %}
        {% set doTypes = getDoTypes(fDoclignes) %}
        {% set fDocligneFormatteds = formatFDoclignes(fDoclignes, doTypes) %}
        {% set colspan = 6 %}
        <table class="center-table">
          <tr>
            {% for doType in doTypes %}
              {% if loop.first == false %}
                <td class="td-separator"></td>
              {% endif %}
              <td class="text-center border-x border-y" colspan="{{ colspan }}">
                <span class="h6">
                  {{ flattenAllTranslations['doType']['values'][doType] }}
                </span>
              </td>
            {% endfor %}
          </tr>
          <tr class="pt-1">
            {% for doType in doTypes %}
              {% if loop.first == false %}
                <td class="td-separator"></td>
              {% endif %}
              <td></td>
            {% endfor %}
          </tr>
          {% for fDocligneFormatted in fDocligneFormatteds %}
            <tr>
              {% for display in fDocligneFormatted.display %}
                {% if loop.first == false %}
                  <td class="td-separator"></td>
                {% endif %}
                <td colspan="{{ colspan }}"
                    class="text-center {% if display.showDoPiece or display.showBorderX %} border-x {% endif %} {% if display.showDoPiece %} border-y {% endif %}">
                  {% if display.showDoPiece %}
                    {% set fDocentete = getFDocentete(extendedFDocentetes, fDocligneFormatted.doPiece, fDocligneFormatted.doType) %}
                    {% if fDocentete is not null and display.doType == fDocentete.doType %}
                      <table style="width: 100%">
                        <tbody>
                        <tr>
                          <td class="text-end">{{ 'Client'|trans }}:</td>
                          <td class="pr-4 text-start">
                            {% if fDocentete.userId is empty %}
                              {{ fDocentete.doTiers }}
                            {% else %}
                              <a href="{{ get_admin_url() }}user-edit.php?user_id={{ fDocentete.userId }}">
                                {{ fDocentete.doTiers }}
                              </a>
                            {% endif %}
                          </td>
                          <td class="text-end">{{ 'N° document'|trans }}:</td>
                          <td class="pr-4 text-start">
                            <strong>{{ fDocentete.doPiece }}</strong>
                          </td>
                          <td class="text-end">{{ 'Statut'|trans }}:</td>
                          <td class="text-start">
                            <strong>{{ fDocentete.doStatutString }}</strong>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-end">{{ 'Référence'|trans }}:</td>
                          <td class="pr-4 text-start">{{ fDocentete.doRef }}</td>
                          <td class="text-end">{{ 'Expédition'|trans }}:</td>
                          <td class="pr-4 text-start">{{ fDocentete.doExpeditNavigation.eIntitule }}</td>
                          <td class="text-end">{{ 'Frais de Port (HT)'|trans }}:</td>
                          <td
                            class="text-start">{{ fDocentete.fraisExpedition.priceHt|number_format(2, ',', ' ') }} {{ currencySymbol|raw }}</td>
                        </tr>
                        <tr>
                          <td class="text-end">{{ 'Catégorie comptable'|trans }}:</td>
                          <td class="pr-4 text-start">{{ pCatComptas[fDocentete.nCatCompta].label }}</td>
                          <td class="text-end">{{ 'Catégorie tarifaire'|trans }}:</td>
                          <td class="pr-4 text-start">{{ pCattarifs[fDocentete.doTarif].ctIntitule }}</td>
                          <td class="text-end"></td>
                          <td class="text-start"></td>
                        </tr>
                        </tbody>
                      </table>
                    {% else %}
                      <strong>
                        {{ display.doPiece }}
                      </strong>
                    {% endif %}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
            <tr>
              {% for doType, display in fDocligneFormatted.display %}
                {% if loop.first == false %}
                  <td class="td-separator">
                    {% if display.showArrow %}
                      <span class="dashicons dashicons-arrow-right-alt"></span>
                    {% endif %}
                  </td>
                {% endif %}
                {% set showData = doType == fDocligneFormatted.doType and display.doPiece != '' %}
                {% set className = '' %}
                {% if display.showBorderBottom != '' %}
                  {% set className = className ~ ' border-bottom' %}
                {% endif %}
                {% if showData %}
                  {% set className = className ~ ' pr-1' %}
                {% else %}
                  {% set className = className ~ ' p-0' %}
                  {% if display.showBorderX %}
                    {% set className = className ~ ' border-left border-right text-center' %}
                  {% endif %}
                {% endif %}
                {% if showData %}
                  <td class="{% if display.showBorderX %} border-left {% endif %} {{ className }}">
                    {% if showData %}
                      {{ display.dlQte }}
                    {% endif %}
                  </td>
                {% endif %}
                <td class="{{ className }}" {% if showData == false %} colspan="{{ colspan }}" {% endif %}>
                  {% if display.doPiece != '' %}
                    {{ fDocligneFormatted.arRef }}
                  {% endif %}
                </td>
                {% if showData %}
                  <td class="{{ className }}">
                    {{ fDocligneFormatted.dlDesign }}
                  </td>
                  <td class="{{ className }}">
                    {{ fDocligneFormatted.dlMontantHt|number_format(2, ',', ' ') }} {{ currencySymbol|raw }}
                  </td>
                  <td class="{{ className }}">
                    <div data-tippy-content="<div>
                        {{ 'Numéro de série/lot'|trans }}
                      </div>">
                      {% for fLotserieNavigation in fDocligneFormatted.fLotseriesNavigation %}
                        {{ fLotserieNavigation.lsNoSerie }}
                      {% endfor %}
                    </div>
                  </td>
                  <td class="{% if display.showBorderX %} border-right {% endif %} {{ className }}">
                    {% if fDocligneFormatted.canImport is not empty %}
                      <div data-tippy-placement="right" data-tippy-content="<div>
                            {% for message in fDocligneFormatted.canImport %}
                            <p>{{ message }}</p>
                            {% endfor %}
                          </div>">
                                              <span class="dashicons dashicons-no button"
                                                    style="color: red; cursor: default; padding-right: 22px"></span>
                      </div>
                    {% elseif fDocligneFormatted.postId is null %}
                      <div data-tippy-placement="right" data-tippy-content="<div>
                          <p>{{ 'Ce produit n\'existe pas dans Wordpress. Veuillez cliquer sur la croix pour le créer.'|trans }}</p>
                        </div>" data-import-farticle="{{ fDocligneFormatted.arRef }}"
                           data-order-id="{{ orderId }}" data-nonce="{{ wpnonce }}">
                                            <span class="dashicons dashicons-no button"
                                                  style="color: red; padding-right: 22px"></span>
                      </div>
                      {% else %}
                        <a href="{{ get_admin_url() }}post.php?post={{ fDocligneFormatted.postId }}&action=edit"
                           data-tippy-placement="right" data-tippy-content="<div>
                          {{ 'Voir l\'article Wordpress'|trans }}
                        </div>">
                          <span class="dashicons dashicons-visibility button" style="padding-right: 22px"></span>
                        </a>
                    {% endif %}
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      {% endif %}
      <div class="mt-2" style="
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
">
        {% include 'woocommerce/elements/desynchronizeOrder.html.twig' %}
        <div>
          {% if tasksSynchronizeOrder.allProductsExistInWordpress == false %}
            <p class="text-end">
              {{ 'Certains produits ne sont pas encore importés dans Wordpress'|trans }}
              <span class="dashicons dashicons-no" style="color: red"></span>
            </p>
          {% endif %}
          {% if tasksSynchronizeOrder.syncChanges is not empty %}
            <div style="
    display: flex;
    align-items: center;
    justify-content: flex-end;
">
              <button type="button" id="synchronize-order" data-synchronize-order
                      class="button button-primary">{{ 'Synchroniser la commande Wordpress avec Sage'|trans }}</button>
              <span data-tippy-content="<div>
                  {% include 'woocommerce/metaBoxes/tasksSynchronizeOrder.html.twig' %}
                </div>" class="dashicons dashicons-info"></span>
            </div>
          {% endif %}
          {% if tasksSynchronizeOrder.syncChanges is empty and tasksSynchronizeOrder.allProductsExistInWordpress %}
            <p class="text-end">
              {{ 'La commande Wordpress est synchronisée avec Sage'|trans }}
              <span class="dashicons dashicons-yes" style="color: green"></span>
            </p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
